@page {
	margin: 2cm;
	@top-left {
		font-size: 0.8em;
		content: "GUIDON J.- BERTRON A.- MARCHAL J.- PARISSE A.- MONOD G.-COURJAULT A.- REVEL A.";
	}
	@bottom-center {
		content: counter(page) " / " counter(pages);
	}
}
@page:first {
	@top-left {
		content: none
	}
	@bottom-center {
		content: none
	}
}		
body {
	width:100%;
}
.pages p {
	text-align: justify;
}
.pbreaker-auto {
	page-break-after: auto;
}
.pbreaker {
	page-break-after: always;
}
.pbroken-auto {
	page-break-before: auto;
}
.pbroken {
	page-break-before: always;
}
.unpbreakable {
	page-break-inside: avoid;
}
.cover {
	width: 100%;
	height: 30%;
	margin:0;
	margin-top: 35%;
}
.main-title {
	font-size: 1.6em;
	text-align: center;
}
.logo {
	text-align: center;
	margin-top: 25%;
}
.logo>.insa {
	width: 50%;
}

.names {
	height: 10%;
	margin-top: 30%;
}
.names>p {
	text-align: center;
}
.names>ul {
	margin-top:0;
	width: 25%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.float-stop {
	clear: both;
}

ul {
	line-height: 1.5em;
}
ul.unstyled {
	list-style-type: none;
}

.figure img {
	max-width: 100%;
}
