%meta{:charset => "UTF-8"}

%h2 Responsable d'atelier

%p Cette personne veut fabriquer le plus de produits possible. La fonction à maximiser est donc celle donnant la "somme des produits fabriqués".
	
%h3 Mise en oeuvre

%p Ceci revient à minimiser la fonction f opposée représentée par le vecteur [-1 ;  -1 ; -1 ; -1 ; -1 ; -1], à donner à la fonction linprog avec les mêmes matrices des contraintes que les autres responsables.
	
	
%h3 Résultats

%p Si on regarde la courbe, on choisit le point qui permet de fabriquer le plus de produits possible en effectuant le meilleur bénéfice. Ce point est entouré en rouge sur le graphe. Pour produire beaucoup, il s'agit donc de mettre de coté la fabrication des produits <b>A,C et D</b> et de répartir la production des 3 autres selon le plan suivant :
%ul
	%li B = 56.73203
	%li C = 38.69281
	%li E = 184.46078
	%li F = 98.92157.

%img{:src => "Images/atelier.png"}

%p Ce plan permet de produire au total <b>378.81</b> produits par semaine, en se situant à <b>92%</b> du bénéfice maximal (résultat renvoyé par matlab).
