%h1 Responsable d'atelier

%p
	Cette personne veut fabriquer le plus de produits possible. La fonction à maximiser est donc celle donnant la "somme des produits fabriqués".
	
	Mise en oeuvre --------------------
	Ceci revient à minimiser la fonction f opposée représentée par le vecteur [-1 ;  -1 ; -1 ; -1 ; -1 ; -1].
	Par rapport au bénéfice, le problÚme est linéaire : plus on fabrique des produits, plus on augmente le bénéfice.
	
	
	Résultats -------------------------
	Le résultat optimal correspond donc à la capacité maximale de production au vu des contraintes de production (stock), le calcul donne le vecteur colonne : [0.0000; 20.40816, 0,0000, 0.0000, 242.50000, 94.18367]
	Pour produire beaucoup, il s'agit donc de mettre de coté la fabrication des produits A,C et D et de répartir la production des 3 autres selon le plan suivant :
	B = 20.40816,
	E = 242.50000,
	F = 94.18367.

	Ce plan permet de produire au total 357.09 produits par semaine.

